@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Dancing+Script&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Dancing+Script&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap");
.belleza {
  font-family: "Belleza", sans-serif;
}

.singnature-color {
  color: #d7cbb7;
}

.footer-color {
  background-color: #1a1a1a;
}

.text-gray {
  color: #999;
}

.border-color {
  color: #b59175;
}

.auto-sinature {
  font-family: "a Auto Signature";
}

.text-dark-gray {
  color: #595959;
}

.p-font {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.font-20 {
  font-size: 20px;
}

.font-40 {
  font-size: 40px;
}

.font-60 {
  font-size: 60px;
}

.font-90 {
  font-size: 90px;
}

.font-70 {
  font-size: 70px;
}

.padding-100 {
  padding-top: 100px;
}

img {
  width: 100%;
}

span i {
  font-size: 30px;
}

.banner-bg {
  width: 100%;
  height: 100vh;
  background-image: url(../img/home-2-rev-s-4.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.banner-bg .overlay {
  background-color: rgba(0, 0, 0, 0.455);
  width: 100%;
  height: 100vh;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.455);
  width: 100%;
  height: 100vh;
}

header ul li {
  transition: all 0.5s;
  position: relative;
}
header ul li:hover a::after {
  width: 40px;
  height: 2px;
}
header ul li a {
  text-transform: uppercase;
}
header ul li a::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  background-color: #ffffff;
  top: 50%;
  bottom: 0%;
  left: 50%;
  right: 0;
  transition: all 0.5s;
}

.btn {
  position: relative;
}
.btn:hover::after {
  width: 100%;
}
.btn button::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5215686275);
  left: 0;
  top: 0;
  transition: all 0.5s;
}

.color-2 img {
  width: 100%;
}

.sale {
  width: 50%;
  height: 600px;
  background-image: url(../img/home-2-ban-1.jpg);
  background-size: cover;
}

.now {
  width: 50%;
  height: 600px;
  background-image: url(../img/home-2-ban-2.jpg);
  background-size: cover;
}

.price-items h4 {
  transition: all 0.5s;
}
.price-items h4:hover {
  color: #d7cbb7;
}

.made-with-love {
  width: 100%;
  height: 100vh;
  background-image: url(../img/home-2-parallax-1.jpg);
  background-position: center;
  background-attachment: fixed;
}
.made-with-love .heading {
  padding: 150px;
}

.progress {
  background-color: transparent;
}
.progress .progress-bar {
  background-color: #000000;
}

footer {
  background-color: #1a1a1a;
}
footer ul li a:hover {
  color: #b59175;
}
footer .social a {
  text-decoration: none;
}
footer .form-control {
  background-color: transparent;
}
footer button {
  border-color: #b59175;
}
footer .back-to-top {
  position: relative;
}
footer .back-to-top a {
  position: absolute;
  right: 10%;
  bottom: 25%;
  border: 1px solid #b59175;
}
footer .back-to-top a i {
  color: #b59175;
  font-size: 20px;
}

.white-box {
  position: relative;
}
.white-box:hover::after {
  width: 100%;
  height: 100%;
}
.white-box::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7176470588);
  transition: all 0.5s;
}

.about h1,
.portfolio h1 {
  color: rgba(153, 153, 153, 0.5019607843);
  font-size: 130px;
}

.ACHIEVEMENTS .awards,
.ACHIEVEMENTS .Recognitions {
  margin-top: 86px;
}

.client img {
  width: 90%;
}

.form-control:focus {
  box-shadow: none;
}

textarea:focus-visible {
  outline: none;
}

.content-box h6,
.content-box span,
.content-box a {
  transition: all 0.5s;
}
.content-box h6:hover,
.content-box span:hover,
.content-box a:hover {
  color: #b59175;
}

.protfolio {
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  display: grid;
  gap: 10px;
  padding: 10px;
}

.mr {
  grid-row: 1/2;
  grid-column: 1/2;
}

.rh {
  grid-row: 1/3;
}

.mn {
  grid-column: 3/5;
}

.protfolio img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product .price-items h5 {
  transition: all 0.5s;
}
.product .price-items h5:hover {
  color: #b59175;
}/*# sourceMappingURL=style.css.map */